/* CSS Document */
/*公用*/
.comWidth{width:1000px; margin-left:auto; margin-right:auto;}
.leftArea{float:left;}
.rightArea{float:right;}
.hide{ display:none;}
.show{display:block;}


/*topBar*/
.topBar{background-color:#E4E4E4; height:31px; line-height:31px;}
.collection{background: url(../images/icon/collection.png) left center no-repeat; padding-left:19px; font-weight:bold;}
.topBar a:hover{color:#FF0000;}

/*logoBar*/
.logoBar{background-color:#3373D3; height:85px;}
.logo{ padding-left:41px; padding-top:13px;}

/*search*/
.search_box{width:430px; padding-left:185px; padding-top:23px;/*margin-top:23px;*/ }
.search_text{width:350px; height:35px; line-height:35px\9;padding:0 5px; background-color:#FFFFFF;}
/*.search_text{width:350px; height:14px; line-height:14px;padding:10px 5px 11px;}*/
.search_btn{width:70px;height:35px;background-color:#DD9104; color:#FFFFFF;}
.shopCar{width:145px; height:35px; background-color:#DD9104; margin-top:23px; font:14px/35px "Micsoft YaHei","微软雅黑"; color:#FFFFFF; margin-right:59px;}
.shopText{background: url(../images/icon/shopCar.png) 10px center no-repeat; height:100%; width:87px; border-right:#C98102 solid 1px; text-indent:40px;}
.shopNum{ width:27px; border-left:#FF9C01 solid 1px; text-align:right; background:url(../images/icon/三角.png) 33px center no-repeat; padding-right:29px; }

/*navBox*/
.navBox{height:35px; background-color:#2B65BE; color:#FFFFFF;}
.shopClass{ width:190px; /*ps 有陷阱 text-align:center;  line-height:35px; 应该给.shopClass h3 否则以下继承父级元素*/ position:relative;}
.shopClass h3{text-align:center;  line-height:35px;}
.shopClass i{ width:11px; height:7px; background:url(../images/icon/1.首页_r2_c2.gif) left center no-repeat; display:inline-block;/*overflow:hidden;*/ margin-left:11px;}
.shopClass h3,.nav{font: "Micsoft YaHei","微软雅黑";}
.nav{ line-height:35px; text-align:center; }
.nav li{ float:left;}
.nav a{color:#FFFFFF; background-color:#1369C0; padding:0 35px; display:block;}
.nav a:hover{ background-color:#4593FD;}
/*商品弹出列表*/
.shopClass_show{position: absolute; left:0; top:35px; width:100%;}
.shopClass_item{ background-color:#4593FD; padding:16px 10px; border-top:#5AA1FE solid 1px; border-bottom:#3487F2 solid 1px;}
.shopClass_item dt{height:24px; background:url(../images/icon/三角2.gif) right center no-repeat; }
.shopClass_item .b{/*font-weight:bold; font-size:14px; font family:"Micsoft YaHei","微软雅黑";*/  font:14px/1 "Micsoft YaHei","微软雅黑";}
.shopClass_item .radius{background-color:#106AC0; border-radius:5px; text-decoration:underline;}
.shopClass_item a{color:#FFFFFF;}
.shopClass_item a:hover{text-decoration:underline;}
/*.shopClass_item active 状态*/
.shopClass_item_active{ background-color:#FFFFFF; border-left:#4593FD solid 1px; }
.shopClass_item_active a{color:#000000; background:none;}
.shopClass_item_active .radius{color:#FFFFFF; text-decoration:none;}
.shopClass_item_active dt{background:none;}
/*弹出的菜单*/
.shopClass_list{position:absolute; top:35px; left:190px; width:568px; /*height:378px; 列表高度让其自适应*/ border:#E5E5E5 solid 1px; line-height:24px;}
.shopClass_cont{padding:2px 20px;}
.shopList_item{ padding:10px 0px; border-bottom:#E5E5E5 solid 1px;/* width:506px;*/ }
.shopList_item dt{color:#4B87D9; border-weight:bold; height:24px; }
.shopList_item dd{padding-left:68px; margin-top:-24px;;}
.shopList_item dd a{padding-right:15px;}
.shopList_links{ padding-top:15px;}
.shopList_links a{color:#FFFFFF; background-color:#2785E6; height:26px; line-height:26px; font-size:12px; display:inline-block; padding:0 14px 0 8px; margin-right:7px; }
.shopList_links span{background:url(../images/icon/三角2.gif) left center no-repeat; width:11px; height:7px;margin-left:9px; display:inline-block;}
/*banner 部分*/
.banner_bar{ float:right; position:relative; overflow:hidden;/*隐藏掉后面的图片*/ margin-bottom:15px;}
.imgBox{ position:absolute; top:0; left:0;}
.imgBox li{float:left;}
.imgBox img{ display:block; }
.imgNum{ position:absolute; left:0; bottom:20px; width:100%; text-align:center;}
.imgNum a{background-color:#FFFFFF; width:20px; height:5px; display:inline-block; overflow:hidden; margin-right:5px;}
.imgNum .active{background-color:#FF7700;}
.banner_big,
.banner_big img{width:810px; height:326px;}
.banner_big .imgBox{width:1620px; height:326px;}
.banner_sm,
.banner_sm img{width:190px; height:400px;}
.banner_sm .imgBox{width:380px; height:400px;}
/*商品标题*/
.shopTit{font-family:"Micsoft YaHei","微软雅黑"; height:44px; line-height:44px; margin-bottom:15px; }
.shopTit H3{font-size:24px; float:left; padding-left:15px; font-weight:normal;}
.icon{ width:44px; height:44px; background:url(../images/Tim.gif) left center no-repeat; display:inline-block;float:left;}
.more{font-family:"宋体"; float:right;}
.more:hover/*a标签class="more"*/{text-decoration:underline;}
/*商品列表*/

.shopList .leftArea{width:190px;}
.shopList .rightArea{width:808px; border:#E5E5E5 solid 1px;border-bottom:#FF963F solid 3px; height:396px; overflow:hidden;}
/*商品列表-右侧*/
.shopList_top,
.shopList_sm{ margin-right:-4px;}
.shopList{margin-bottom:15px;}
.shop_item{ width:202px; border-right:#E5E5E5 solid 1px; height:279px; border-bottom:#E5E5E5 solid 1px;font-family:"Micsoft YaHei","微软雅黑"; text-align:center; float:left;}
.shop_img{height:218px;}
.shop_img img{ width:100%;height:218px;display:block;}
.shop_item h3{ /*font-size:16px;*/color:#000000;}
.shop_item p{ font-size:14px;color:#FF963F; line-height:24px;}
/*商品列表-小*/
.shopItem_sm{ width:202px; border-right:#E5E5E5 solid 1px; height:110px; float:left; padding-top:6px; }
.shopItem_smImg{ width:95px; height:95px; text-align:center; float:left;}
.shopItem_smImg img{width:95px; height:95px;}
.shopItem_text{ padding-top:32px; float:left; width:100px;}
.shopItem_text p{color:#FF963F; font-family:"新宋体";}
.shopItem_text h3{color:#000000; line-height:26px; font-size:16px; font-family:"Micsoft YaHei","微软雅黑"; font-weight:normal;}

/*footer*/
.footer{text-align:center; background-color:#D4D4D4; line-height:24px; padding:50px 0; margin-top:25px; }
.footer i{ /*padding:0 5px;*/ margin:0 5px; font-style:normal; }
.footer a{color:#000000;}
.footer a:hover{color:#FF963F;}
.web img{padding:24px 24px 0 0;}
.hr_7{height:7px; overflow:hidden;}
.hr_15{height:15px;overflow:hidden;}
.hr_25{height:25px;overflow:hidden;}
.hr_17{height:25px;}
.hr_45{height:45px;}
/*产品分页*/
.products .leftArea{width:185px;}
.products .rightArea{width:810px;}
.products .banner_bar{ float:none;} /*banner_bar右浮动 hr_7就重叠右浮动-跟bar叠在一起*/
.products .item{width:25%; margin-bottom:10px;}  /*兼容IE6、7的代码：*width:24.9%*/

/*产品分类页导航*/
.leftNav{ background-color: #f3f3f3; border: #cdcdcd solid 1px;}
.nav_title{height:34px; line-height:34px; text-align:center; border-bottom: #cdcdcd solid 1px; }
.nav_cont{  padding:4px 18px ; border-bottom: #cdcdcd dotted 1px; margin-bottom:-1px; }    <!--或不加下padding / padding:0 18px; -->    
.nav_cont h3{  height:34px; line-height:34px; font-size:12px;}
.vertical li{  width:auto; float:none; padding-left:8px;}
.vertical .nav_title,
.vertical .nav_cont h3{font-family:"Micsoft YaHei","微软雅黑"; font-size:14px;}
.navCont_list{ line-height:25px;}
.navCont_list li{float: left; width:50%; }   <!--float 否则列表呈现树形 产品页面里用到-->


/*标题*/
.products_title{ height:34px; border-bottom:#cccccc solid 2px;}
.products_title h3{line-height:34px;  border-bottom:#096dba solid 2px; text-indent:10px;width:180px;} /*text-indent=padding-left*/

/*商品*/
.item{ float:left; position:relative;}
.item_cont{ padding:0 15px;}
.img_item{ height:170px; text-align:center;}
.img_item img{height:170px;} 
.item p{ line-height:20px; }
.item a{color:#000000;}
.item a:hover{ text-decoration:underline;}
.money{color:#990000; font-weight:bold; padding-top:12px;}
.stars{width:12px; height:13px; overflow:hidden; background:url(../images/icon/collection.png) left top no-repeat; display:inline-block;}
.hot{ background:url(../images/icon/hot.gif) left top no-repeat; position:absolute; top:0; right:0; height:51px; width:51px;}
/*筛选*/
.screening{ border-bottom:#cccccc solid 1px; }
.screening dt{ line-height:34px; width:74px; text-align:right; float:left; margin-right:42px; color:#cccccc; }
.limit{ width:55px; float:left;line-height:34px;}
.screening .active{ background-color:#1d7ad9; color:#FFFFFF;}
.screening a{padding:2px;}
.screening_list {width:626px;float:left;}
.screening_list li{ width:20%; float:left; line-height:34px; }
.screen_more{border: #999999 solid 1px; margin:10px 0px;}

.addInfo{ height:31px; background: #CCCCCC ; border: #999999 solid 1px;}
.address{ line-height:31px; padding-left:10px;}
.check{position:relative; top:-2px;}  /*解决span和input对其*/
.check input,
.check label{vertical-align:middle;}
.screening_list_more{padding-left:5%;}
.screening_list_more .item{width:33.3%;}
.addCar{ border:#3778bc solid 1px; height:22px; display:inline-block; color:#3778bc; padding:1px 6px 0 23px; background:url(../images/icon/shopCar2.gif) 6px center no-repeat;}
/*分页*/
.page{ text-align: center; }
.page a{ margin-top:25px; display:inline-block; border:#000 solid 1px; padding:5px 10px;  margin-right:2px;}
.page .hl{display:inline-block; padding:5px 10px;}
.pageNum{ border:#000 solid 1px; line-height:26px; text-align:center;   margin-right:10px;}
.page input{ width:50px; height:24px;}
.page_btn{border:#000 solid 1px; background-color:#FFFFFF; line-height:26px;width:44px; margin-left:10px;}
/*解决ie6对齐 position提升层级*/
.page span,
.page input{vertical-align:middle; position:relative;}

/*组件*/
.select{ background-color:#FFFFFF; border: #999999 solid 1px; height:22px; line-height:22px;  padding-left:10px;padding-right:20px;  margin-left:10px; margin-top:4px; position:relative; }
.caret{ position:absolute; top:0; right:0; background:url(../images/icon/caret.gif) center center no-repeat; height:100%; width:20px;}
.check{ line-height:31px; }
.shop_numble{ padding-left:15px; font-size:10px; padding-right:10px;}
.shop_numble i{color: #FF6600; padding:0 3px;}
.show_select{ position:absolute; top:22px; left:-1px; width:100%; background-color:#FFFFFF; border: #999999 solid 1px; z-index:4;}
.show_select li{ padding-left:10px;}



/*商品介绍*/
.grey{ background:#F0F0F0;}
.userPosition{margin-bottom:17px;}
.userPosition a:hover{ color:#000000;}
.description_info{ background:#fff; }
.description{border:#CCCCCC solid 1px;}
.description .leftArea{width:309px;}
.description .rightArea{width:688px; border-left:#CCCCCC solid 1px;}
/*图片展示*/
.big{height:340px; text-align:center;}
.des_smimg{margin:0 auto; width:265px; padding-left:1px;}
.des_smimg li{ float:left; margin-left:-1px;}
.des_smimg li img{border:#ccc solid 1px;}
.des_smimg .active{border:#0066FF solid 1px; position:relative;/*提升层级*/}

/*商品选择*/
.des_content{ padding-left:10px; padding-top:26px;}
.des_content dl{ margin-top:10px; line-height:34px; }
.des_content dt{ width:67px; float:left; padding-right:15px; padding-left:16px; }
.des_content dd big{color:#FF3300;}
.hg_icon{ display:inline-block; line-height:18px; height:18px; width:51px;  background:url(../images/icon/hg.gif) left top no-repeat;  margin-right:5px; font-size:10px; color:#FFFFFF; text-indent:15px;}
.des_content dd select{ border:#c2c2c2 solid 1px; margin-top:5px; margin-right:5px;}

/*颜色选择*/
.opn{background-color:#F2F2F2; padding-top:7px; margin-right:16px; padding-bottom:20px; margin-bottom:20px;}
.opn dl{margin-bottom:7px; }
.des_item{ color:#999999; background-color:#fff; border:#ccc solid 1px; margin-right:10px; width:82px;  padding:9px 27px;}
.opn .active{ border-color:#3399FF; color:#333333;}
.des_dl2 dt{ line-height:60px;}
.des_dl2 dd{width:560px; }
.des_item_sm{padding:6px 9px; line-height:38px;}
.des_dl3 button{ line-height:34px; height:34px;}
.des_dl3 input{ display:inline-block; width:52px; height:32px; border:#CCCCCC solid 1px; margin:0 -1px; text-align:center; white-space:nowrap;}
.des_dl3 input,
.des_dl3 button{vertical-align:middle;}
.des_dl3 span{margin-left:10px;}
.des_dl3 i{color:#FF9900; font-weight:bold; padding:0 1px; font-style:normal;}
.last_opn{padding-left:16px;}
.last_opn span{color:#0099FF; display:inline-block; margin-bottom:20px;}
/*购物车*/
.des_shop{ text-align:center;}
.shop_btn,
.buy_btn{ display:inline-block; background:url(../images/icon/shop1.gif) left top no-repeat; width:184px; height:48px;}
.des_shop span{display:inline-block; width:1px; height:90px; background-color:#ccc; margin:0 37px;}
.shop_btn,
.des_shop span,
.buy_btn{ vertical-align: middle; }
.notes{ text-indent:16px; color:#CCCCCC; margin-bottom:22px; margin-top:16px;}
/*产品详情*/
.des_info .leftArea{width:190px;}
.des_info .rightArea{width:790px;}
.recommend{ border:#ccc solid 1px;  border-top:#1d86cf solid 2px; background-color:#FFFFFF; padding-bottom:15px;}
.recommend .tit{ background-color:#f3f3f3; padding:14px; border-bottom:#ccc solid 1px;}
.recommend .item{ float:none; height:auto;}  /* 嵌套的item 去除之前的浮动*/
/*详细介绍*/
.des_infoContent{ border:#ccc solid 1px; background-color:#FFFFFF;}
.des_tit{ height:38px; }
.des_tit li{ line-height:38px;float:left; background-color:#efefef; color:#000; text-align:center;width:50%; font-size:14px; }
.des_tit span{background: url(../images/icon/tit.png) left top no-repeat; padding-left:32px; /*图左侧距离文字的padding  */}
.des_tit i{background: url(../images/icon/tit_i.gif) left top no-repeat; padding-left:32px;  }
.des_tit .active{background-color:#0479ca; color:#FFFFFF;position:relative; } /*position提升优先级 使其不错位*/
.des_img{ text-align:center; padding:28px 0;}
.des_tp{margin-left:20px; margin-right:18px;}
.des_text{ border-bottom:#ccc solid 2px;line-height:37px;}
.des_text h3{  font-size:16px; color:#0479ca; border-bottom:#0479ca solid 2px; width:70px; float:left; margin-bottom:-2px; position:relative;/*ie6兼容 提升层级*/}
.des_text small{ font-size:12px;color:#CCCCCC; padding-left:10px; float:left; }
.info_text{padding-top:20px; line-height:22px;  margin:0 10px;}
.center{ text-align:center;}
/*评分板块*/
.comment{ background-color:#FFFFFF; padding-left:10px; padding-top:10px; height:160px;}
.comment h2{ color:#666666;}
.comment_nav {width:95px; }
.comment_nav span{color:#FF6600; line-height:80px; font-size:50px;}
.comment_nav em{ font-size:18px; }
.score{ margin-top:20px; padding-left:15px; position:relative;}
.score span{ height:16px; width:450px; background-color:#CCCCCC;}
.score a{ color:#FFFFFF; display:inline-block; padding:0 40px;}
.score a:hover{ color:#FF0000;}
.score p{color:#999999; padding:6px 0;}
.score_num{ position:absolute; left:92%; top:-21px; width:25px; height:14px; background-color:#999999; color:#fff; text-align:center;}
.score_num i{border-width:5px; border-color: #999999 transparent transparent transparent; border-style: solid dashed dashed dashed; width:0; height:0;}
/*评分nav*/
.view_tab{background:#F2F2F2; line-height:32px; margin-right:10px;}
.view {padding-left:20px;}
.view li{ display:inline-block; margin-right:38px; padding:0 8px;height:32px; }
.view .active{ border-bottom:#3399FF solid 2px; font-weight:bold; height:30px; line-height:30px; color:#3399FF;}
.view_time a{display:inline;  padding:0 20px 0 5px; border:#ccc solid 1px; background:url(../images/time.gif) 57px center no-repeat;}
/*用户评价*/
.view_list{background:#fff; padding:17px 20px 0 40px;}
.user_head{width:130px; height:108px;}
.user_head img{ margin-bottom:10px; margin-left:-8px;}
.view_cont{margin-left:130px;}
.starsBox li{ line-height:28px;}
.starsBox .stars_score{margin-left:10px; font-weight:bold; color:#000; }
.starsBox .active{ display:inline-block; padding-right:15px; color:#3399FF;}









































